{% extends 'adminBase.html.twig' %}

{% block title %}
    Opprett Kube
{% endblock %}

{% block body %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.length) }}

            <button type="submit" class="btn btn-success cta-link">{{ create_or_update_action }}</button>

            {{ form_end(form) }}


{% endblock %}
