{% extends 'adminBase.html.twig' %}
{% block title %}
    Quicklinks
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
    <li class="breadcrumb-item active">Quicklinks</li>
    </li>
{% endblock %}

{#{% block breadcrumb_menu %}#}
    {#<a href="{{ path('create_quicklinks') }}" class="btn btn-outline-success text-success">#}
        {#<i class="fa fa-plus"></i> Legg til Quicklink#}
    {#</a>#}
{#{% endblock %}#}
{% block body %}

    <div class="card">
        <div class="card-header"><i class="fa fa-align-justify"></i> Quicklinks ({{ quickLinks|length }})</div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Quicklink</th>
                    <th>URL</th>
                    <th colspan="2">Logo</th>
                </tr>
                {% for quicklink in quickLinks %}
                    <tr>
                        <td class="table-menu">
                            {% if is_granted_team_leader() %}
                                <div class="dropdown">
                                    <div class="clickable px-2" id="options-{{ loop.index }}" data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary"></i>
                                    </div>
                                    <div class="dropdown-menu pt-0" aria-labelledby="options-{{ loop.index }}">
                                        <div class="dropdown-header mb-2"><strong>{{ quicklink.getTitle() }}</strong></div>
                                        <a href="{{ path('quicklink_edit', { 'id': quicklink.id }) }}"
                                           class="dropdown-item"><i class="fa fa-pencil text-primary"></i> Rediger
                                        </a>
                                        <form method="POST"
                                              onsubmit="return confirm('Vil du virkelig slette quicklink {{ quicklink.getTitle() }}?')"
                                              action="{{ path('quicklink_delete', {'id': quicklink.id}) }}">
                                            <button type="submit"
                                                    class="dropdown-item">
                                                <i class="fa fa-trash text-danger"></i> Slett
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            {% endif %}
                        </td>
                        <td>{{ quicklink.getTitle() }}</td>
                        <td>{{ quicklink.getUrl }}</td>
                        <td><img class="img-fluid" src="{{ asset_with_version(quicklink.getIconUrl()) }}"
                                 style="max-width: 200px; max-height: 150px;"></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}
